@{
    ViewData["Title"] = "_AccessDenied";
}

<h1 class="text-danger">Bạn không có quyền truy cập trang này!</h1>
<p>Vui lòng đăng nhập bằng tài khoản Admin hoặc quay lại trang chủ.</p>
<a class="btn btn-primary" href="/">Về trang chủ</a>

